[submodule "packer-archlinux"]
	path = packer-archlinux
	url = git@github.com:twistedvines/packer-archlinux.git
[submodule "scripts/arch-devbox-install"]
	path = scripts/arch-devbox-install
	url = git@github.com:twistedvines/arch-devbox-install.git
